{% extends "patient/base.html" %}
{% load static %}
{% block content %}
<title>Profile</title>


<div class="header pb-6 d-flex align-items-center"
  style="min-height: 300px; background-image: url({% static 'GCassets/img/theme/profile-cover.jpg' %}); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello {{patient.First_Name}} As patient</h1>
        
       </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-4 order-xl-2">
      <div class="card card-profile">
        <img src="{% static 'assets/img/theme/img-1-1000x600.jpg' %}" alt="Image placeholder" class="card-img-top">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
            
                

                <img src="{{patient.Profile_Picture.url}}" class="rounded-circle">
                <!-- <img src="{{ patient.Profile_Picture.url }}"> -->
             
            

            </div>

          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <!-- <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-sm btn-info  mr-4 ">Connect</a>
            <a href="#" class="btn btn-sm btn-default float-right">Message</a>
          </div> -->

        </div>

        <div class="card-body pt-0" style="margin-top: 40px;">

          
          <div class="text-center">
            <h5 class="h3">
              {{patient.First_Name}} {{patient.Last_Name}}<span class="font-weight-light"></span>
            </h5>
            <div class="h5 font-weight-300">
              
              <i class="ni location_pin mr-2"></i>{{patient.City}} , {{patient.State}}
             

            </div>
           


            


            <div>




            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">User profile </h3>
            </div>
            <div class="col-4 text-right">
             
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">First name</label>
                    <input type="text" id="input-first-name" class="form-control" placeholder="First name"
                      value="{{patient.First_Name}}" disabled style="color: #172b4d;">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Last name</label>
                    <input type="text" id="input-last-name" class="form-control" placeholder="Last name"
                      value="{{patient.Last_Name}}" disabled style="color: #172b4d;">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                    <input type="text" id="input-username" class="form-control" placeholder="Username" value="lucky.jesse">
                  </div>
                </div> -->
              <div class="col-lg-9" style="padding-left: 41px;">
                <div class="form-group">
                  <label class="form-control-label" for="input-email">Email address</label>
                  <input type="email" id="input-email" class="form-control" placeholder="jesse@example.com"
                    value="{{user.Email}}" disabled style="color: #172b4d;">
                </div>
              </div>
            </div>
           

            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control" placeholder="Home Address" value="{{patient.Address}}"
                      type="text" disabled style="color: #172b4d;">
                  </div>
                </div>
              </div>

            
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    <input type="text" id="input-city" class="form-control" placeholder="City" value="{{patient.City}}"
                      disabled style="color: #172b4d;">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">State</label>
                    <input type="text" id="input-country" class="form-control" placeholder="State" value="{{patient.State}}"
                      disabled style="color: #172b4d;">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Postal code</label>
                    <input type="number" id="input-postal-code" class="form-control" placeholder="Postal code"
                      value="{{patient.Pin_Code}}" disabled style="color: #172b4d;">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Dercription -->
            <!-- <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label class="form-control-label">About Me</label>
                <textarea rows="4" class="form-control" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
              </div>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}