{% extends "doctor/base.html" %}
{% load static %}
{% block content %}

<div id="admin-content">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1 class="admin-heading">All Posts</h1>
            </div>
            <div class="col-md-2">
                <a class="add-new" href="{% url 'add_post' %}">Add Post</a>
            </div>
            <div class="col-md-12">
            {% if post %}
                <table class="content-table">
                    <thead>
                        <th>S.No.</th>
                          <th>Title</th>
                          <th>Category</th>
                          <th>Date</th>
                        
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        {% for i in post %}
                       
                        <tr>
                            <td class='id'>{{forloop.counter}}</td>
                            <td>{{i.Title}}</td>
                            <td>{{i.Category.Category_name}}</td>
                            <td>{{i.DateTimeOfPoast}}</td>
                            <td class='edit'><a href="{% url 'update_post' key=i.id %}"><i class='fa fa-edit'></i></a></td>
                            <td class='delete'><a href="{% url 'delete_post' key=i.id %}"><i class='fa fa-trash-o'></i></a></td>
                           {% if i.Draft == False %}
                                <td><span class="badge bg-success">Published</span></td>
                           {% else %}
                                <td><span class="badge bg-danger">Draft</span></td>
                           {% endif %}
                        </tr>
                        {% endfor %}
                       
                    </tbody>
                </table>
                <nav aria-label="..." class="float-right" style="margin-top: 20px;">

                    <ul class="pagination ">
                  
                      {% if post.has_previous %}
                      <li class="page-item">
                        <a style="width: 80px;" class="page-link"  href="?page={{ post.previous_page_number }}">Previous</a>
                      </li>
                      {% endif %}
    
                      {% for i in post.paginator.page_range %}
                      
                        {% if post.number == i %}
                          <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% else %}
                          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
      
                      {% endfor %}
                      {% if post.has_next %}
                      <li class="page-item">
                        <a style="width: 80px;" class="page-link"  href="?page={{ post.next_page_number }}">Next</a>
                      </li>
                      {% endif %}
                    </ul>
                  </nav>
                  {% else %}
                  <h1><b>There Is No Post Uploded</b></h1>
                  {% endif %}
            </div>
        </div>
    </div>
</div>

{% if msg %}
    {% if msg == 'Your Post Successfully Published' %}
            <script>
                Swal.fire(
                    '',
                    '{{msg}}',
                    'success'
                )
            </script>
    {% else %}
    <script>
        Swal.fire(
            '',
            '{{msg}}',
            'warning'
        )
    </script>
    {% endif %}



{% endif %}
  {% endblock content %}